.container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style du formulaire */
form {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Limiter la largeur du formulaire */
    margin: 20px auto; /* Centrer le formulaire */
    text-align: center;
}

/* Style pour chaque champ de saisie */
input[type="text"], textarea {
    width: 100%; /* Prendre toute la largeur disponible */
    padding: 12px; /* Espacement interne */
    margin-bottom: 20px; /* Espacement entre les champs */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, textarea:focus {
    border-color: #007bff; /* Couleur de bordure lors du focus */
    background-color: #fff;
}

/* Ajustement de la taille des textarea */
textarea {
    height: 150px; /* Hauteur plus grande pour les textarea */
    resize: vertical; /* Autorise le redimensionnement vertical uniquement */
}

/* Limiter la hauteur de la liste des recettes */
.recipe-list {
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}

/* Style pour chaque recette */
.recipe-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Limite l'affichage du contenu du texte pour éviter de prendre trop d'espace */
.recipe-item p {
    margin: 5px 0;
}

/* Style des boutons */
button {
    background-color: rgba(6, 50, 56, 0.68);
    color: white;
    padding: 12px 20px; /* Espacement plus large */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    margin: auto;

}

button:hover {
    background-color: #0056b3;
}
ul{
    list-style-type: none;
}

div{
    font-size: 20px;
}