/* Styles globaux pour le body */
body {
    background-image: url('../asset/images/fond.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
}

/* Menu fixe en haut */
nav {
    background-color: #007BFF; /* Bleu */
    padding: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 10px;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #0056b3; /* Bleu foncé au survol */
    border-radius: 5px;
}

/* Responsive pour les petits écrans */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .menu ul {
        text-align: center;
    }

    .menu li {
        width: 100%;
    }

    .menu a {
        padding: 15px;
    }
}
