/* Styles globaux pour le body */
body {
    background-image: url('../assets/fond.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;

    box-sizing: border-box;
}

.menu-logo {
    background-image: url('../assets/logo.png'); /* Chemin vers votre image de logo */
    background-size: contain; /* Ajuste l'image pour qu'elle soit entièrement visible */
    background-repeat: no-repeat;
    width: 100px; /* Largeur du logo */
    height: 50px; /* Hauteur du logo */
    /* Espacement à droite */
    margin: 20px auto auto;
}
